<ion-toolbar>
  <ion-buttons>
    <ion-button (click)="closeModal()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Connexion
    </ion-button>
  </ion-buttons>
  <ion-title>Inscription</ion-title>
</ion-toolbar>
<ion-content class="ion-padding">
  <form [formGroup]="signupForm">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Prénom</ion-label>
        <ion-input [maskito]="nameMask" required type="text" name="firstName" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nom</ion-label>
        <ion-input [maskito]="nameMask" required type="text" name="lastName" formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Pseudo</ion-label>
        <ion-input [maskito]="userNameMask" required type="text" name="username" formControlName="userName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Adresse e-mail</ion-label>
        <ion-input required type="email" name="mail" formControlName="mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Date de naissance</ion-label>
        <ion-input required type="date" name="mail" formControlName="mail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Sexe</ion-label>
        <ion-select formControlName="sex">
          <ion-select-option value="H">Homme</ion-select-option>
          <ion-select-option value="F">Femme</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Mot de passe</ion-label>
        <ion-input required type="password" name="password" formControlName="pwd"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-padding">
      <ion-button [disabled]="!signupForm.valid" (click)="signup()" expand="block" type="submit"
        class="ion-no-margin">Créer mon compte</ion-button>
    </div>
  </form>
</ion-content>